{{> header}}
{{> topBarDesktop}}
<main class="deslocar">
    <h1> {{nome}}, agradecemos o envio de sua mensagem.</h1>
    <h2>Recebemos em nossa base de dados o seguinte conteúdo:</h2>
    <div>
        <p>Natureza do conteúdo: {{conteudo}}</p>
        <p>Título: {{titulo}}</p>
        <p>Texto: {{{corpo}}}</p>
        <p>Arquivos:</p> 
            {{#each anexos}}
                <p>{{this.filename}}</p>
            {{/each}}
    </div>
    <p>Clique no botão abaixo para retornar ao Portal do CCS</p>
    <a href="/" title='retornar à página principal da Decania do CCS'><button>Retornar</button></a>
</main>
{{> footer}}