{{> header}}
{{> topBarDesktop}}
<main class="deslocar planids-homologar">
  <input type='hidden' class='csrf-token' value='{{csrfToken}}' name="_csrf">
  <input type='hidden' value='{{unidade}}' name="unidade">
  <input type='hidden' value='{{tipoUnidadeHomologacao}}' name="tipoUnidadeHomologacao">
  <input type='hidden'value='{{homologador}}' name="homologador">
  <input type='hidden'value='{{consolidaPlanid}}' name="consolidaPlanid">
  <nav class='planids-gestao__modulos'>
    <ul>
      <li class='planids-gestao__modulos-opcao opcao-homologacao' data-modulo='homologacao'>GERENCIAMENTO DE PLANIDS</li>
      <li class='planids-gestao__modulos-opcao opcao-estatisticas' data-modulo='estatisticas'>ESTATÍSTICAS</li>
      {{!-- <span class='planids-gestao__modulos-opcao opcao-mensagens-novas' data-modulo='mensagens-novas'>NOVAS MENSAGENS<span class='numero-novas-mensagens'></span></span> --}}
    </ul>    
  </nav>
  <main class='planids-gestao__main'>
    <h1>Planid CCS - Gestão</h1>
    <h2>Selecione um dos módulos para gerenciar os planids da {{unidade}}</h2>
    <div class='planids-gestao__opcoes-iniciais'>
      <span data-modulo='homologacao'>GERENCIAMENTO DE PLANIDS</span>
      <span data-modulo='estatisticas'>ESTATÍSTICAS</span>
    </div>
  </main>
  
</main>
<script src="/dist/scripts/utilidadesSistemas.min.js" defer></script>
<script src="/dist/scripts/planidUtils.min.js" defer></script>
<script src="/dist/scripts/planidEstatisticas.min.js" defer></script>
<script src="/dist/scripts/planidHomologar.min.js" defer></script>
<link rel="stylesheet" href="/dist/styles/acompanhamentoEventos.min.css">
<link rel="stylesheet" href="/dist/styles/planidHomologar.min.css">
{{> footer}}